<html>
<title>calculator</title>

<head>
    <h1>Calculator</h1>
</head>

<body>
    <form action="" method='post'>
        {% csrf_token %}
        <div><span>{{form.as_p}}</span>
            <span>
            <div><button type="submit" name="operator" value="add">+</button></div>
            <div><button type="submit" name="operator" value="subtract">-</div>
            <div><button type="submit" name="operator" value="multiply">x</div>
            <div><button type="submit" name="operator" value="divide">/</div>
        </span></div>
        <div><span>Result:</span><span id="result">{{result}}</span></div>
    </form>
</body>

</html>